@import 'reset.css';

body{
    width: 100vw;

    background-color: black;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
    flex-grow: 1;
    max-width: 450px;

    transition: transform 0.3s ease-in-out; 
}

ul li a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 300px;
    padding: 3%;

    background-color: rebeccapurple;  
    border-radius: 20px;
}

ul li:hover {
  transform: scale(1.02); 
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    height: 100vh;
    margin-inline: 5%;
}

a {
    color: white;
    font-size: 2.4rem;
    text-wrap: wrap;
    text-align: center;

    text-decoration: none;
}